* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    /* brand colors */
    --brand-light: #F67841;
    --brand-mid: #F3541C;
    --brand-dark: #E43A12;
    /* text colors*/
    --text-primary: #292524;
    --text-secondary: #57534E;
    --text-tertiary: #8F8881;
    --text-highlight: #E43A12;
    /* surface colors*/
    --surface-primary: #FFFFFF;
    --surface-secondary: #FEE7D6;
    --surface-disabled: #E7E5E4;
    /* stroke colors*/
    --stroke-default: #D6D3D1;
    --stroke-highlight: #F3541C;
    /* semantic colors*/
    --semantic-error: #DC2626;

    /* fonts */
    --font-poppins: "Poppins", sans-serif;
    --heading1: 500 2rem/120% var(--font-poppins);
    --heading2: 500 1.5rem/120% var(--font-poppins);
    --heading3: 500 1.25rem/120% var(--font-poppins);
    --heading4: 500 1rem/120% var(--font-poppins);
}

body {
    overflow: hidden;
    font: 400 1rem/150% var(--font-poppins);
    color: var(--text-secondary);

}

img {
    max-width: 100%;
    max-height: 100%;
}