* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    /* brand colors */
    --brand-light: #F67841;
    --brand-mid: #F3541C;
    --brand-dark: #E43A12;
    /* text colors*/
    --text-primary: #292524;
    --text-secondary: #57534E;
    --text-tertiary: #8F8881;
    --text-highlight: #E43A12;
    /* surface colors*/
    --surface-primary: #FFFFFF;
    --surface-secondary: #FEE7D6;
    --surface-disabled: #E7E5E4;
    /* stroke colors*/
    --stroke-default: #D6D3D1;
    --stroke-highlight: #F3541C;
    /* semantic colors*/
    --semantic-error: #DC2626;

    /* fonts */
    --font-poppins: "Poppins", sans-serif;
    --heading1: 500 2rem/120% var(--font-poppins);
    --heading2: 500 1.5rem/120% var(--font-poppins);
    --heading3: 500 1.25rem/120% var(--font-poppins);
    --heading4: 500 1rem/120% var(--font-poppins);
}

body {
    color: var(--text-secondary);
    overflow: hidden;
}

img {
    max-width: 100%;
    max-height: 100%;
}

main {
    --sb-track-color: #ffffff;
    --sb-thumb-color: #f67841;
    --sb-size: 9px;
  
    overflow-y: auto;
    height: 100vh; /* necessário pra rolar dentro do main */
  }
  
  /* Scrollbar para navegadores WebKit (Chrome, Edge, Safari) */
  main::-webkit-scrollbar {
    width: var(--sb-size);
  }
  
  main::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 15px;
  }
  
  main::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 15px;
  }
  
  /* Scrollbar para navegadores com suporte a scrollbar-color (Firefox) */
  @supports not selector(::-webkit-scrollbar) {
    main {
      scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
    }
  }