#app {
    display: grid;
    grid-template-columns: 51.25% 48.75%;
    height: 100vh;
    overflow: hidden;
}

main {
    overflow: auto;
    padding: 4rem;

    & .main-container {
        max-width: 33rem;
        margin-left: auto;
    }

    & h1 {
        font: 600 1.5rem/125% var(--font-poppins);
        color: var(--text-primary);
        margin-bottom: .5rem;
    }

    & .back {
        display: flex;
        align-items: center;
        margin-bottom: 1.5rem;

        & span {
            font: 400 1rem/ 150% var(--font-poppins);
        }
    }
}

aside {
    padding: 4rem;
    background-color: var(--surface-secondary);

    & .aside-container {
        max-width: 31rem;

        & h2 {
            font: 600 2.5rem/125% --font-poppins;
            color: var(--text-primary);
            margin-block: .5rem;
        }

        & span {
            color: var(--text-highlight);
        }

        & p {
            margin-bottom: 2rem;
        }
    }
}